<input type="number" [(ngModel)]="photoNumber" step="1">
<input type="button" value="Save" (click)="save()">
<input type="button" value="Delete" (click)="delete()">
<input type="button" value="Update x 10" (click)="update()">
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">albumId</th>
    <th class="mdl-data-table__cell--non-numeric">id</th>
    <th class="mdl-data-table__cell--non-numeric">title</th>
    <th class="mdl-data-table__cell--non-numeric">url</th>    
    <th class="mdl-data-table__cell--non-numeric">thumbnailUrl</th>
  </tr>
  <tr *ngFor="let photo of photos">
    <td class="mdl-data-table__cell--non-numeric">{{photo.albumId}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{photo.id}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{photo.title}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{photo.url}}</td>    
    <td class="mdl-data-table__cell--non-numeric">{{photo.thumbnailUrl}}</td>        
  </tr>
</table>

