<input type="number" [(ngModel)]="photoNumber" step="1">
<input class="button" type="button" value="Save" (click)="save()">
<input class="button" type="button" value="Delete" (click)="delete()">
<input class="button" type="button" value="Update x 10" (click)="update()">
<input class="button" type="button" value="read" (click)="read()">
<p>
<table >
  <tr>
    <th >id</th>
    <th >albumId</th>
    <th >title</th>
    <th >url</th>    
    <th >thumbnailUrl</th>
  </tr>
  <tr *ngFor="let photo of photos">
    <td >{{photo.id}}</td>    
    <td >{{photo.albumId}}</td>
    <td >{{photo.title}}</td>
    <td >{{photo.url}}</td>    
    <td >{{photo.thumbnailUrl}}</td>        
  </tr>
</table>

